#container {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.basemap-dropdown-container {
  display: flex;
  align-items: center;
  padding-right: 10px;

  label {
    margin-right: 5px;
    font-size: 14px;
  }

  select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
}
